.nameDiv {
    margin-top: 2px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 400px;
    width: 600px;
  }

p {
    font-size: 2rem;
    margin-top: 5%;
}
input {
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;
}

button {
    border-radius: 25px;
    border: solid 1px teal;
    background-color: teal;
    color: whitesmoke;
    font-size: 3em;
    width: 250px;
    margin-top: 5%;
  }
